.js-visible {
  display: none !important;
}
.js-enabled .js-visible {
  display: inline-block !important;
}

.govuk-radios__divider {
  font-weight: bold
}

@media (min-width: 40.0625em) {
  .sdil-right-align--desktop{
    text-align: right!important;
  }
}